<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<base href="~/" />
	<link rel="stylesheet" href="~/bootstrap.min.css" />
	<link rel="stylesheet" href="~/bootstrap-icons.css" />
	<link rel="stylesheet" href="~/css/overrides.css" />
</head>
<body class="d-flex align-items-center vh-100 bg-light">
	@RenderBody()
	<script src="_framework/blazor.server.js"></script>
	<script src="~/bootstrap.min.js"></script>
</body>
</html>
