<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<base href="~/" />
	<link rel="stylesheet" href="~/bootstrap.min.css" />
	<link rel="stylesheet" href="~/bootstrap-icons.css" />
	<link rel="stylesheet" href="~/overrides.css" />
	<link href="TestPlatform.styles.css" rel="stylesheet" />
	<style>
		@* .active {
			background-color: rgba(255, 255, 255, 0.25);
		} *@

		.accordion-item, .accordion-button {
			background-color: transparent;
		}

		#MainContainerSidebar {
			background-color: #ECF4FE;
			grid-area: sidebar;
			height: 100vh;
		}

		#MainContainerSidebar .nav-item .active {
			@* background-color: rgba(255, 255, 255, 0.25); *@
			background-color: rgba(162, 189, 243, 0.65);
		}
	</style>
</head>
<body class="bg-light">
	@RenderBody()
	<script src="_framework/blazor.server.js"></script>
	<script src="~/bootstrap.min.js"></script>
</body>
</html>
