<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<base href="~/" />
	<link rel="stylesheet" href="~/bootstrap.min.css" />
	<link rel="stylesheet" href="~/bootstrap-icons.css" />
	<link rel="stylesheet" href="~/overrides.css" />
	<link href="TestPlatform.styles.css" rel="stylesheet" />
	<style>
		.btn-outline-primary {
			color: var(--bs-primary);
			border-color: var(--bs-primary);
		}

		.active {
			background-color: rgba(255, 255, 255, 0.25);
		}

		.accordion-item, .accordion-button {
			background-color: transparent;
		}

		#MainContainer {
			display: grid;
			grid-template-areas: "sidebar body";
			grid-template-columns: 2fr 7fr;
		}

		#MainContainerSidebar {
			background: #ECF4FE;
			grid-area: sidebar;
			height: 100vh;
		}

		#MainContainerSidebar .bi-journal {
			margin-right: 12px !important;
		}

		#MainContainerSidebar .accordion-body {
			padding-left: 42px;
		}

		#MainContainerSidebar .accordion-button::after {
			background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
		}

		#MainContainerSidebar .accordion-button:not(.collapsed) {
			background-color: transparent !important;
			box-shadow: none;
			color: var(--bs-dark);
		}

		#MainContainerSidebar .accordion-item {
			border-bottom: none;
		}

		#MainContainerSidebar .nav-item .active {
			@* background-color: rgba(255, 255, 255, 0.25); *@
			background-color: rgba(162, 189, 243, 0.65);
		}

		#MainContainerBody {
			grid-area: body;
		}
	</style>
	@RenderSection("Stylesheets", false)
</head>
<body class="bg-light">
	<div class="container shadow-sm px-0 bg-body" id="MainContainer">
		<div id="MainContainerSidebar">
			<nav class="navbar">
				<div class="container-fluid">
					<div class="navbar-brand text-uppercase fw-bold pt-0 ms-3">
						<img class="img-fluid px-4" src="~/img/logo.png" />
					</div>
				</div>
			</nav>
			<div class="offcanvas-lg">
				<div class="offcanvas-body">
					<ul class="nav nav-pills flex-column">
						<div class="accordion accordion-flush">
							<div class="accordion-item">
								<div class="accordion-button collapsed ps-3" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne">
									<i class="bi bi-journal"></i>
									<span>Тест</span>
								</div>
							</div>
							<div id="flush-collapseOne" class="accordion-collapse collapse show">
								<div class="accordion-body pt-0 pb-2">
									<ul class="nav flex-column mb-n2">
										@if (User.IsInRole("Admin"))
										{
											<li class="nav-item mt-2">
												<span class="nav-link text-dark">
													Создать тест
												</span>
											</li>
										}
										<li class="nav-item mt-2">
											<span class="nav-link text-dark active">
												Список тестов
											</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
						@if (User.IsInRole("User"))
						{
							<li class="nav-item">
								<a class="nav-link text-dark" asp-route="users">
									<i class="bi bi-award-fill me-2"></i>
									<span>Сертификаты</span>
								</a>
							</li>
						}
					</ul>
				</div>
			</div>
		</div>
		<div id="MainContainerBody">
			<nav class="navbar navbar-expand-lg shadow-sm">
				<div class="container ps-3">
					<span class="navbar-text fw-bold">
						@if (User.IsInRole("Admin"))
						{
							@:Анна Митюшкина (Администратор)
						}
						else
						{
							@:Алексей Иванов (Обучающийся)
						}
					</span>
					<a class="btn btn-outline-primary" asp-route="logout">
						<span>Выйти</span>
					</a>
				</div>
			</nav>
			@RenderBody()
		</div>
	</div>
	<script src="_framework/blazor.server.js"></script>
	<script src="~/bootstrap.min.js"></script>
</body>
</html>
