<div class="px-1">
	<h1 class="px-4 mt-5">
		<span>Список обучающихся</span>
	</h1>
	<div class="px-4 mt-5">
		<table class="table">
			<thead>
				<tr>
					<th>Имя</th>
					<th>Фамилия</th>
					<th>Тест</th>
					<th>Результат</th>
					<th>Время сдачи</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Юлия</td>
					<td>Алексеева</td>
					<td class="text-truncate" style="max-width: 150px;">Итоговый тест модуля "Основы предпринимательской деятельности"</td>
					<td>28 из 30</td>
					<td>@DateTime.Now.ToLocalTime()</td>
				</tr>
				<tr>
					<td>Константин</td>
					<td>Юрченко</td>
					<td class="text-truncate" style="max-width: 150px;">Итоговый тест модуля "Основы предпринимательской деятельности"</td>
					<td>22 из 30</td>
					<td>@DateTime.Now.ToLocalTime()</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
